---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
    <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT
       *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR
       *  PLATFORM OR CMS.
       *
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
       *  https://disqus.com/admin/universalcode/#configuration-variables
       */
      
      var disqus_config = function () {
          // Replace PAGE_URL with your page's canonical URL variable
          this.page.url = window.location.href;
  
          // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          this.page.identifier = window.location.pathname;
      };
        
    
      (function () {
        // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document,
          s = d.createElement('script');
    
        // IMPORTANT: Replace EXAMPLE with your forum shortname!
        s.src = 'https://codecraft-1.disqus.com/embed.js';
    
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript" rel="nofollow"> comments powered by Disqus. </a>
    </noscript>
    <script id="dsq-count-scr" src="//codecraft-1.disqus.com/count.js" async></script>
  </div>
</div>